ARCSI==3.2.4
certifi==2020.4.5.1
cycler==0.10.0
GDAL==3.0.2
h5py==2.10.0
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.1
pandas==1.0.3
pbr==5.4.4
Py6S==1.7.2
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
Pysolar==0.6
python-dateutil==2.8.1
python-fmask==0.5.4
pytz==2019.3
PyYAML==5.3.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.13.0
stevedore==1.31.0
tornado==6.0.4
tqdm==4.45.0
TuiView==1.2.6
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
